body{
  background: #141414 !important;
  color: #fff;
}

.movie-app{
  overflow-x: auto;
  flex-wrap: nowrap ;
}
.movie-title {
  color: #fff !important;
  margin-top: 17px;
}

.heading{
  color: #fff;
}
.image-container img{
  width: 100% !important;
  height: 440px;
  padding: 5px;
  border-radius: 14px;
}
.image-container{
  position: relative;
  transition: all .7s;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(.9);
}
.overlay{
  height: 100px;
  padding: 10px;
  position: absolute;
  background: rgba(0,0,0,.8);
  width: 100%;
  color: #fff !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px ;
  transition: .5 ease;
  opacity: 0;
  bottom: 0px;
  right: 0px;
  left:0px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
.image-container:hover .overlay{
  opacity: 1;
  transform: scale(.9);
  transition: .5 ease;
}
.fa-heart{
  margin-left: 10px;
  font-size: 30px;
  color: #eb2923;
 
}